{% extends "base.html.twig" %}
{% set current = 'cv' %}
{% block content %}
<div class="container">
    <div class="row g-5">
        <div class="col-lg-4 sticky-lg-top vh-100">
            <div class="d-flex flex-column h-100 text-center overflow-auto shadow">
                <img class="w-100 img-fluid mb-4" src="{{ asset('assets/img/me.png') }}" alt="Image">
                <h1 class="text-primary mt-2">{{ 'about.name' | trans({}, 'about_me') }}</h1>
                <div class="mb-4" style="height: 22px;">
                    <h4 class="typed-text-output d-inline-block text-light"></h4>
                    <div class="typed-text d-none">{{ 'about.labels' | trans({}, 'about_me') }}</div>
                </div>
                <div class="d-flex justify-content-center mt-auto mb-3">
                    <a class="btn btn-secondary btn-square mx-1" target="_blank" href="{{ 'about.github' | trans({}, 'about_me') }}"><i class="fab fa-github"></i></a>
                    <a class="btn btn-secondary btn-square mx-1" target="_blank" href="{{ 'about.linkedin' | trans({}, 'about_me') }}"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="d-flex align-items-end justify-content-between border-top">
                    <a href="{{ path('download_cv') }}" class="btn w-50 border-end">{{ 'about.downloadCV' | trans({}, 'about_me') }}</a>
                    <a href="mailto:{{ 'about_me.information.email_value' | trans({}, 'about_me') }}" class="btn w-50 btn-scroll">{{ 'about.contactMe' | trans({}, 'about_me') }}</a>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <!-- About Start -->
            <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="title pb-3 mb-5">{{ 'about_me.title'|trans({}, 'about_me') }}</h1>
                <p>{{ 'about_me.description'|trans({}, 'about_me') }}</p>
                <div class="row mb-4">
                    <div class="col-sm-6 py-1">
                        <span class="fw-medium text-primary">{{ 'about_me.information.name' | trans({}, 'about_me') }}:</span> {{ 'about_me.information.name_value' | trans({}, 'about_me') }}
                    </div>
                    <div class="col-sm-6 py-1">
                        <span class="fw-medium text-primary">{{ 'about_me.information.birthday' | trans({}, 'about_me') }}:</span> {{ 'about_me.information.birthday_value' | trans({}, 'about_me') }}
                    </div>
                    <div class="col-sm-6 py-1">
                        <span class="fw-medium text-primary">{{ 'about_me.information.address' | trans({}, 'about_me') }}:</span> {{ 'about_me.information.address_value' | trans({}, 'about_me') }}
                    </div>

                    <div class="col-sm-6 py-1">
                        <span class="fw-medium text-primary">{{ 'about_me.information.experience' | trans({}, 'about_me') }}:</span> {{ 'about_me.information.experience_value' | trans({}, 'about_me') }}
                    </div>
                    <div class="col-sm-6 py-1">
                        <span class="fw-medium text-primary">{{ 'about_me.information.phone' | trans({}, 'about_me') }}:</span> {{ 'about_me.information.phone_value' | trans({}, 'about_me') }}
                    </div>
                    <div class="col-sm-6 py-1">
                        <span class="fw-medium text-primary">{{ 'about_me.information.email' | trans({}, 'about_me') }}:</span> {{ 'about_me.information.email_value' | trans({}, 'about_me') }}
                    </div>
                </div>
            </section>
            <!-- About End -->

            <!-- Skills Start -->
            <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="title pb-3 mb-5">{{ 'skills.title' | trans({}, 'about_me') }}</h1>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">{{ 'skills.php' | trans({}, 'about_me') }}</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">{{ 'skills.symfony' | trans({}, 'about_me') }}</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">{{ 'skills.rabbitmq' | trans({}, 'about_me') }}</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">{{ 'skills.elasticsearch' | trans({}, 'about_me') }}</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">{{ 'skills.openai' | trans({}, 'about_me') }}</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">{{ 'skills.linux' | trans({}, 'about_me') }}</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Skills End -->

            <!-- Expericence Start -->
            <section class="py-5 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="title pb-3 mb-5">{{ 'experience.title' | trans({}, 'about_me') }}</h1>
                <div class="border-start border-2 border-light pt-2 ps-5">
                    {% for i in range (1,3) %}

                    <div class="position-relative mb-4">
                        <span class="bi bi-arrow-right fs-4 text-light position-absolute" style="top: -5px; left: -50px;"></span>
                        {% set companyData = "%s.%s" | format('experience.companies', i) %}
{#                        {% set companyData = 'experience.companies.' . {x} %}#}
                        <h5 class="mb-1">{{ "%s.%s" | format (companyData, 'position') | trans({}, 'about_me') }}</h5>
                        <p class="mb-2">{{ "%s.%s" | format (companyData, 'name') | trans({}, 'about_me') }} | <small>{{ "%s.%s" | format (companyData, 'dates') | trans({}, 'about_me') }}</small></p>
                        <p>{{ "%s.%s" | format (companyData, 'description') | trans({}, 'about_me') }}</p>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <!-- Expericence End -->

            <!-- cert Start -->
                <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="title pb-3 mb-5">{{ 'cert.aidevs.title' | trans({}, 'about_me') }}</h1>
                    <div class="row">
                        <div class="col-12">
                            <div class="row portfolio-container">
                                <div class="col-md-12 mb-12 portfolio-item">
                                    <div class="position-relative overflow-hidden mb-2">
                                        <img class="img-fluid w-100" src="{{ asset('assets/custom/aidevs.png') }}" alt="">
                                        <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                            <a href="{{ asset('assets/custom/aidevs.png') }}" data-lightbox="portfolio">
                                                <i class="bi bi-plus text-light"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            <!-- cert End -->

            <!-- Education Start -->
            <section class="py-5 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="title pb-3 mb-5">{{ 'education.title' | trans({}, 'about_me') }}</h1>
                <div class="border-start border-2 border-light pt-2 ps-5">
                    {% for i in range (1,3) %}

                        <div class="position-relative mb-4">
                            <span class="bi bi-arrow-right fs-4 text-light position-absolute" style="top: -5px; left: -50px;"></span>
                            {% set data = "%s.%s" | format('education.schools', i) %}
                            <h5 class="mb-1">{{ "%s.%s" | format (data, 'name') | trans({}, 'about_me') }}</h5>
                            <p class="mb-2"> <small>{{ "%s.%s" | format (data, 'dates') | trans({}, 'about_me') }}</small></p>
                            <p>{{ "%s.%s" | format (data, 'description') | trans({}, 'about_me') | raw }}</p>
                        </div>
                    {% endfor %}
                </div>
            </section>
            <!-- Education End -->


            <!-- Services Start -->
            <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">

                <div class="row g-4">
                    <div class="col-md-6">
                        <div class="service-item">
                            <i class="fa fa-2x fa-brands fa-php mx-auto mb-4"></i>
                            <h5 class="mb-2">{{ 'information.php.title' | trans({}, 'about_me') }}</h5>
                            <p class="mb-0">{{ 'information.php.description' | trans({}, 'about_me') }}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item">
                            <i class="fa fa-2x fa-users mx-auto mb-4"></i>
                            <h5 class="mb-2">{{ 'information.team.title' | trans({}, 'about_me') }}</h5>
                            <p class="mb-0">{{ 'information.team.description' | trans({}, 'about_me') }}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item">
                            <i class="fa fa-2x fa-brands fa-symfony mx-auto mb-4"></i>
                            <h5 class="mb-2">{{ 'information.symfony.title' | trans({}, 'about_me') }}</h5>
                            <p class="mb-0">{{ 'information.symfony.description' | trans({}, 'about_me') }}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item">
                            <i class="fa fa-2x fa-database mx-auto mb-4"></i>
                            <h5 class="mb-2">{{ 'information.database.title' | trans({}, 'about_me') }}</h5>
                            <p class="mb-0">{{ 'information.database.description' | trans({}, 'about_me') }}</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Services End -->



            <!-- Testimonial Start -->
            <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="title pb-3 mb-5">{{ 'hobby.title' | trans({}, 'about_me') }}</h1>
                <div class="owl-carousel testimonial-carousel">
                    <div class="text-left">

                        <p class="fs-4 mb-4">{{ 'hobby.description' | trans({}, 'about_me') }}</p>
                    </div>
                </div>
            </section>
            <!-- Testimonial End -->


            <!-- Footer Start -->
            <section class="wow fadeIn" data-wow-delay="0.1s">
                <div class="bg-secondary text-light text-center p-5">
                    <div class="d-flex justify-content-center mb-4">
                        <a class="btn btn-dark btn-square mx-1" target="_blank" href="{{ 'about.github' | trans({}, 'about_me') }}"><i class="fab fa-github"></i></a>
                        <a class="btn btn-dark btn-square mx-1" target="_blank" href="{{ 'about.linkedin' | trans({}, 'about_me') }}"><i class="fab fa-linkedin-in"></i></a>

                    </div>
                    <div class="d-flex justify-content-center mb-3">
                    </div>

                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    <p class="m-0">&copy; All Rights Reserved. Designed by <a href="https://htmlcodex.com">HTML Codex</a></p>
                </div>
            </section>
            <!-- Footer End -->
        </div>
    </div>
</div>
{% endblock %}