{% if codeView is not empty %}
<section class="py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="d-flex flex-column h-100 text-center overflow-auto shadow">
        <table class="table">
            <tbody>
            <tr>
                <td>{{ 'stats.code'|trans({}, 'code') }}</td>
                <td>{{ codeView.code }}</td>
            </tr>
            <tr>
                <td>{{ 'stats.used'|trans({}, 'code') }}</td>
                <td>{{ codeView.used }} / {{ codeView.limit }}</td>
            </tr>

            </tbody>
        </table>
        <p>{{ 'stats.description'|trans({}, 'code') }}</p>
    </div>
</section>
{% endif %}