{% extends "base.html.twig" %}
{% block content %}
<div class="container">
    <div class="row g-5">
        <div class="col-lg-2">
            {% include 'app/code_stats.html.twig' %}
        </div>
        <div class="col-lg-8">
            <section class="py-2 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="title pb-3 mb-5">{{ 'result.title'|trans({}, 'app') }}</h1>
                <p>{{ 'result.resultTitle'|trans({'%title%' : view.title, '%category%':  ('movieCategory.' ~ view.category) | trans({}, 'app') }, 'app') | raw }}</p>
            </section>
            <section class="py-2 wow fadeInUp" data-wow-delay="0.1s">

                {% if view.poster is not null %}
                    <div id="poster" class="text-center">

                        <img src="{{ view.poster }}">
                    </div>
                {% endif %}

                <table class="table">
                    <tbody>
                    <tr>
                        <td class="w-25">{{ 'result.description'|trans({}, 'app') }}</td>
                        <td>{{ view.description }}</td>
                    </tr>
                    <tr>
                        <td class="w-25">{{ 'result.details'|trans({}, 'app') }}</td>
                        <td>{{ view.details }}</td>
                    </tr>
                    <tr>
                        <td class="w-25">{{ 'result.preferences'|trans({}, 'app') }}</td>
                        <td>{{ view.preferences }}</td>
                    </tr>
                    </tbody>
                </table>
            </section>
            {% if view.whereWatch is not empty%}
                <section class="py-2 wow fadeInUp" data-wow-delay="0.1s">
                    <h4 class="title pb-3 mb-5">{{ 'result.whereWatch' | trans({}, 'app') }}</h4>
                    <div class="row">
                        {% for data in view.whereWatch %}
                            <div class="col-lg-3">
                                <a href="{{ data.movieUrl }}" target="_blank" class="opc">
                                    <figure class="figure border border-1 border-info text-center" style="width: 100%">
                                        <img height="50px" src="{{ data.logo }}">
                                      <figcaption class="figure-caption "><h5>{{ data.name }}</h5></figcaption>
                                    </figure>
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                </section>
            {% endif %}

            <section class="py-2 wow fadeInUp" data-wow-delay="0.1s">
                <h4 class="title pb-3 mb-5">{{ 'result.opinion' | trans({}, 'app') }}</h4>
                <div class="row g-4" >
                    {% for opinion in opinions %}
                        <div class="col-lg-12">
                            <div class="service-item">
                                <p>{{ opinion.opinion }}</p>
                                <span>{{ opinion.createdAt }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <form id="save-opinion" action="{{ path('save-opinion') }}">
                        <input type="text" id="movie" value="{{ view.resultUuid }}" hidden="hidden">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="preferences">{{ 'opinion.label' |trans({}, 'app') }}</label>
                                <textarea class="form-control" style="color: black" id="opinion" placeholder="{{ 'opinion.placeholder' |trans({}, 'app') }}" onkeyup="checkFieldsAndInput()"></textarea>
                            </div>
                            <div class="form-group">
                                <button disabled id="save" class="btn btn-primary mt-2" type="submit" value="movie">{{ 'opinion.save' |trans({}, 'app') }}</button>
                            </div>
                        </div>
                    </form>

                </div>

            </section>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>

    <section class="wow fadeIn" data-wow-delay="0.1s">
        <div class="bg-secondary text-light text-center p-5">
           {{ 'footer.about' | trans({}, 'app') }} <a target="_blank" href="https://www.filmweb.pl/">Filmweb</a> {{ 'footer.and' | trans({}, 'app') }} <a target="_blank" href="https://wikipedia.org">Wikipedia</a>
        </div>
    </section>

{% endblock %}

{% block scripts %}
    <script src="{{ asset('assets/js/saveOpinion.js') }}"></script>
{% endblock %}