{% extends "base.html.twig" %}
{% block content %}
<div class="container">
    <div class="row g-5">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="title pb-3 mb-5">{{ 'result.title'|trans({}, 'app') }}</h1>
                <p>{{ 'result.resultTitle'|trans({'%title%' : view.title, '%category%':  ('movieCategory.' ~ view.category) | trans({}, 'app') }, 'app') | raw }}</p>
            </section>
            <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                <table class="table">
                    <tbody>
                    <tr>
                        <td class="w-25">{{ 'result.description'|trans({}, 'app') }}</td>
                        <td>{{ view.description }}</td>
                    </tr>
                    <tr>
                        <td class="w-25">{{ 'result.details'|trans({}, 'app') }}</td>
                        <td>{{ view.details }}</td>
                    </tr>
                    <tr>
                        <td class="w-25">{{ 'result.preferences'|trans({}, 'app') }}</td>
                        <td>{{ view.preferences }}</td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('assets/js/generateResponse.js') }}"></script>
{% endblock %}